:root {
    --wb-primary-color: #23d160;
    --wb-secondary-color: #4a4a4a;
}

.wb-logo {
    font-size: 1.4em;
    font-weight: 700;
    font-family: 'Megrim', cursive;
    color: var(--md-primary-bg-color);
}

.wb-logo > b {
    color: var(--wb-primary-color);
}

div.pull-image-arches > ul > li {
    padding: 0 !important;
    margin: 0 !important;
}
div.pull-image-arches > ul > li > a {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.7rem;
    text-align: center;
    height: 100%;
    width: 100%;
}
